@model List<LakewoodScoopScraping.Story>


<div class="col-md-8 col-md-offset-2">

    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>Image</th>
            <th>Title</th>
        </tr>
        @foreach (var story in Model)
        {
            <tr>
                <td><img style="width: 150px; max-height: 200px;" src="@story.ImageUrl" /></td>
                <td>
                    <a href="@story.Url" target="_blank">@story.Title</a>
                </td>
            </tr>
        }
    </table>
</div>